* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-header: #065d7a;
  --color-font: #1f1f23;
  --color-font-p: #121214;
  --color-font-pesquisa: #377d95;
  --color-bg-light: #FFF;
  --color-like-buttom: #065E7C;
}
html, main, aside {
  font-family: "Mulish", sans-serif;
}


body { 
  
  width: 43.0rem;
  height: 19.45rem;
  
  margin-inline: auto;

  display: flex;
  flex-direction: column;

}

header {
  background-color: var(--color-header);
  padding: 1.2rem 2.8rem;
}

header .container {
  max-width: 36.4rem;
  margin-inline: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

a img {
  width: 4rem;
  height: 4rem;

  object-fit: cover;
  border-radius: 50%;

}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;
  border-radius: 50%;
}

form input::placeholder {
  color: white;
  opacity: .5;
}

form {
  display: flex;
  gap: 1.2rem;
  }
  
  form input {
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  width: 25rem;
  border: 0;
  color: white;
  border-radius: .4rem;
}

textarea:focus,
input:focus {
  outline: none;
}
    
#search {
  background-color: var(--color-font-pesquisa);
  font-weight: 600;
}

main {
padding: 0 2.2rem;
}

.header-img {
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
}

main h1 {
  font-size: 2.4rem;
  line-height: 160%;
}
  
main .title-container {
  margin-top: 3.1rem;
}

.action-buttons {
  display: flex;
  gap: 1.2rem;
  margin-top: .8rem;
  margin-bottom: 3.1rem;
}

.like, .dislike {
  background-color: var(--color-like-buttom);
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dislike img {
  transform: rotate(180deg);
}

main p {
    color: var(--color-font-p);
    font-size:1.6rem;
    line-height: 160%;
}