* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue:240;
  --color-header: hsl(195, 91%, 25%);
  --color-font: hsl(240, 6%, 13%);
  --color-font-p: hsl(240, 5%, 7%);
  --color-font-pesquisa: hsl(195, 46%, 40%);
  --color-footer: hsl(195, 46%, 40%);
  --color-bg-light: #FFF;
  --color-like-buttom: hsl(195, 91%, 25%);
  --color-aside-h1:hsl(240, 6%, 13%);
  --color-search-hover: hsl(195, 54%, 47%);
}
html, main, aside, footer {
  font-family: "Mulish", sans-serif;
}


body { 
  
  width: 43.0rem;
  height: 19.45rem;
  
  margin-inline: auto;

  display: flex;
  flex-direction: column;

}

header {
  background-color: var(--color-header);
  padding: 1.2rem 2.8rem;
}

header .container {
  max-width: 36.4rem;
  margin-inline: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

a img {
  width: 4rem;
  height: 4rem;

  object-fit: cover;
  border-radius: 50%;

}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;
  border-radius: 50%;
}

form input::placeholder {
  color: white;
  opacity: .5;
}

form {
  display: flex;
  gap: 1.2rem;
  }
  
  form input {
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  width: 25rem;
  border: 0;
  color: white;
  border-radius: .4rem;
}

textarea:focus,
input:focus {
  outline: none;
}
    
#search {
  background-color: var(--color-font-pesquisa);
  font-weight: 600;
}

#search:hover {
  background: var(--color-search-hover);
}

.figuras:hover{
 filter: contrast(101%) saturate(200%);
}

main,
aside {
padding: 0 2.2rem;
}

.header-img {
  width: 100%;
  border-radius: 0 0 .5rem .5rem;
}

main h1 {
  font-size: 2.4rem;
  line-height: 160%;
}
  
main .title-container {
  margin-top: 3.1rem;
}

.action-buttons {
  display: flex;
  gap: 1.2rem;
  margin-top: .8rem;
  margin-bottom: 3.1rem;
}

.like, .dislike {
  background-color: var(--color-like-buttom);
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like:hover, .dislike:hover {
  cursor: pointer;
  background: var(--color-font-pesquisa);
}

.dislike img {
  transform: rotate(180deg);
}

main p {
    color: var(--color-font-p);
    font-size:1.6rem;
    line-height: 160%;
    margin-bottom: 3.4rem;
}

aside h1 {
    color: var(--color-aside-h1);
    
    font-size: 2.4rem;
    line-height: 160%;
    margin-bottom: 3.2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.gallery-card {
  display: flex;
  gap: 1.6rem;
}

.gallery-card img {
    width: 15.1rem;
    height: 8.4rem;
    
    border-radius: .5rem;
}

 .gallery-card:hover {
   filter: hue-rotate(3deg) contrast(101%) saturate(200%);
   transform: scale(1.1) rotate(-1deg);
 }

figcaption h2 {
    color: var(--color-aside-h1);
    
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}

figcaption span {
    color: var(--color-font-p);
    
    font-size: 1.4rem;

}

footer {
    margin-top: 2.5rem;
    background-color:var(--color-footer);
    border-radius: .5rem .5rem 0 0;
}

footer p {
  padding: 1.6rem;
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  line-height: normal;
}

@media (min-width:1120px) {
  body {
    background-color: #ccdde5;
  }
}

